<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a class="logo" href="/">Usage Hut</a>
                <ul class="nv-l">
                    <li><a href="/usage/aboutus">About Us</a></li>
                    <li><a href="/usage/create">Create Usage</a></li>
                    <li><a href="/usage/list">List All Usages</a></li>
                    <li><a href="/usage/update">Modify Usage</a></li>
                    <li><a href="/usage/delete">Delete Usage</a></li>
                    <li><a href="/usage/report">Report Usage</a></li>
                    <li><a href="/usage/help">Help</a></li>
                </ul>
            </div>
        </header>
    </body>
</html>