<!DOCTYPE html>
<html>
  <% include partials/head %>
  <div class="wrapper">
    <h1><%= title %></h1>
    <body>
      <div style="margin:0 auto ; width:50%; padding:20px">
        <p>This website is a tool for people to track their mobile phone screen time, similarly to how you would on your iPhone.
          
          <br><br>
          
          We feel that since the whole point of tracking your usage is to see where you're spending the most time so that you can 
          cut down on your usage, that it's counterproductive to also have to track this on your mobile phone.
          
          <br><br>
          
          I'm sure we can all agree that we're guilty of checking our phones for something and suddenly you get a notification on
          TikTok. Next thing you know, it's 2am and that assignment still hasn't been started. 
          
          <br><br>
          
          We feel that this website will help to mitigate the time spent on phones further as this can be tracked while at work or 
          quickly before every class in college.
        </p>

      </div>
    </body>
  </div>
  <% include partials/foot %>
</html>