<!DOCTYPE html>
<html>
  <% include partials/head %>
  <div class="wrapper">
    <h1><%= title %></h1>
    <body>
      <p class="instruct-success">Please use the Report Usage option to retrieve the ID.</p>
      <div style="margin:0 auto ; width:50%; padding:20px">
        <br>
        <form action="/usage/delete" method="POST">
          <label>ID of usage to update:  </label>
          <input type="text" name="_id" placeholder="634e804394f66713d5514414">
          
          <br /> <br /> <br /> <br />
          
          <button>Submit</button>
        </form>
      </div>
    </body>
  </div>
  <% include partials/foot %>
</html>