<!DOCTYPE html>
<html>
  <% include partials/head %>
  <div class="wrapper">
    <h1><%= title %></h1>
    <body>
      
      <br><br>
      
      <p class="para-success">The selected usage has been successfully deleted.</p>  
    </body>
  </div>
  <% include partials/foot %>
</html>