<% include partials/head %> 
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="ra-r">
        <div class="tp">
            <a class="thumb-pr mn" href="/usage/create"><p class="thumb-pr pic">Create Usage</p></a>
            <a class="thumb-pr r-e" href="/usage/report"><p class="thumb-pr pic">Report Usage</p></a>
        </div>
    </div>
</div>
<% include partials/foot %>